{% include "restaurant_homepage/header.html" %}

<br><br><br>

<div id="about-section">
	<blockquote class="blockquote text-center">
	  <h1 class="mb-0">ABOUT US</h1>
	  <footer class="blockquote-footer">RISTORANTE ROMA</footer>
	</blockquote>
	
	<div class="media row justify-content-center">
	  <div class="media-left col-lg-4 text-center">
	    <a href="#">
	      <img class="media-object" style="width:100%" src="https://cdn.pixabay.com/photo/2015/09/02/12/26/soup-918422_1280.jpg" alt="...">
	    </a>
	  </div>
	  <div class="media-body col-lg-4">
		Add your information here.
	  </div>
	</div>
</div>

{% include "restaurant_homepage/footer.html" %}