<hr class="featurette-divider" style="width:90%">

<!-- Footer -->
	<footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
		  <small class="d-block mb-3 text-muted">&copy; Ristorante Roma 2019<br>Design: &copy; CyanNani 2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
			<li><a class="text-muted" href="{% url 'restaurant_homepage:about'%}">About</a></li>
            <li><a class="text-muted" href="{% url 'restaurant_homepage:menu'%}">Menu</a></li>
            <li><a class="text-muted" href="{% url 'restaurant_homepage:gallery'%}">Gallery</a></li>
            <li><a class="text-muted" href="{% url 'restaurant_homepage:staff'%}">Staff</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Legal Info</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'restaurant_homepage:contact'%}">Contact</a></li>
            <li><a class="text-muted" href="{% url 'restaurant_homepage:legal_notice'%}">Legal Notice</a></li>
            <li><a class="text-muted" href="{% url 'restaurant_homepage:data_privacy'%}">Data Privacy</a></li>
            <li><a class="text-muted" href="{% url 'restaurant_homepage:terms_and_conditions'%}">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </footer>
<!-- Footer -->