{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" id="index_link" href="{% url 'restaurant_homepage:index' %}">Ristorante Roma</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
    	 <a class="nav-link" id="add_choice_link" href="{% url 'restaurant_homepage:index' %}#">HOME</a>
  	  </li>
      <li class="nav-item">
    	 <a class="nav-link" id="add_choice_link" href="{% url 'restaurant_homepage:index' %}#about-section">ABOUT</a>
  	  </li>
      <li class="nav-item">
    	 <a class="nav-link" id="add_choice_link" href="{% url 'restaurant_homepage:index' %}#menu-section">MENU</a>
  	  </li>
      <li class="nav-item">
    	 <a class="nav-link" id="add_choice_link" href="{% url 'restaurant_homepage:index' %}#staff-section">STAFF</a>
  	  </li>
      <li class="nav-item">
    	 <a class="nav-link" id="add_choice_link" href="{% url 'restaurant_homepage:index' %}#reservation-section">CONTACT</a>
  	  </li>
    </ul>
  </div>
</nav>

{% include "restaurant_homepage/cookie_addon.html" %}
