<div id="about-section">
	<blockquote class="blockquote text-center">
	  <h1 class="mb-0">ABOUT US</h1>
	  <footer class="blockquote-footer">RISTORANTE ROMA</footer>
	</blockquote>
	
	<div class="media row justify-content-center">
	  <div class="media-left col-lg-4 text-center">
	    <img class="media-object" style="width:100%" src="https://cdn.pixabay.com/photo/2015/09/02/12/26/soup-918422_1280.jpg" alt="...">
	  </div>
	  <div class="media-body col-lg-4">
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices quam ut mattis aliquam. Suspendisse ornare neque et eros molestie viverra. Praesent dui quam, maximus non dui id, sollicitudin tempus leo. Sed lacinia vehicula velit in facilisis. Mauris sollicitudin semper nulla, sit amet tristique nisi. Curabitur a odio maximus, finibus neque et, consequat neque. Aliquam quam magna, posuere vehicula imperdiet in, euismod ut sem. Maecenas lacinia dolor eget justo tincidunt, et ornare erat efficitur. In hac habitasse platea dictumst. Mauris sit amet ex enim. Praesent ac congue sem. Proin ut mauris et tortor efficitur finibus. Proin molestie faucibus egestas.</p>
	    <a class="btn btn-primary" href="{% url 'restaurant_homepage:about'%}">View More</a>
	  </div>
	</div>
</div>

<br><br>